@import "../../assets/scss/config";

.homeContainer {
  h1 {
    margin: 50px;
    padding-left: 200px;
    font-size: 48px;
    font-family: "bold";
    span {
      color: #ff0101;
    }
  }
  h2 {
    padding-left: 200px;
    font-size: 18px;
    font-family: "medium";
  }
}
.containerNutritional {
  display: flex;
  flex-direction: column;
  // margin-left: 200px;
}


.sectionContainer{
  display: flex;
}
