@import "../../assets/scss/config";

.chartContainer {
  position: relative;

  @media #{$BREAKPOINT-DESK} {
  }
}

.chartLineLabel {
  position: absolute;
  width: 60%;
  top: 24px;
  left: 20px;
  color: rgb(250, 250, 250, 0.3);
  font-size: 15px;
}
